<div class="greet_page__main_container" >
  <div class="main_container__scroll">

    <div class="scroll__content rotate">
    </div>

    <div class="scroll__content_second rotate_second">
    </div>

    <div class="scroll__content_third rotate_third">
    </div>

    <div class="scroll__content_forth rotate_forth">
    </div>
  </div>
  <div class="main_container__footer">
    <div class="footer__float_box_1 move"></div>
    <div class="footer__float_box_1 move_2"></div>
    <div class="footer__float_box_1 move_3"></div>
    <div class="footer__float_box_1 move_4"></div>
  </div>
</div>
